.PopUp {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
}

.PopUp.active {
    display: flex;
}

.PopUp-form {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.cerrar {
    background-color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.PopUp-div {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
}

.PopUp-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.PopUp-input {
    padding: .5rem;
    border: 1px solid #000;
    border-radius: .5rem;
    font-size: 1rem;
}

.Lightbox-img {
    width: 90%;
    max-height: 80vh;
    /* background-color: orange; */
    object-fit: contain;
}