* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

p a {
  display: inline;
}

img,
picture,
video,
iframe {
  display: block;
  width: 100%;
  /* height: initial; */
}

form,
input,
label,
select,
option,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
  display: block;
  background-color: transparent;
}

:root {
  font-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'mirage', serif;
  --backgrundColor-primary:#6843001a;
  --backgrundColor-secondary: #414141;
  --text-primary: #6e8308;
  --text-secondary: #505050;
  --text-tertiary: #fff;
}

.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  width: 100%;
  flex: 1 1 0%;
  background-color: var(--backgrundColor-primary);
}

/* Fin reset */

@font-face {
  font-family: 'george';
  font-style: normal;
  src: url('../assets/fonts/louis_george_cafe/Louis\ George\ Cafe.ttf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'mirage';
  font-style: normal;
  src: url('../assets/fonts/made_mirage/MADE\ Mirage\ Regular\ PERSONAL\ USE.otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

button,
a {
  cursor: pointer;
  text-transform: uppercase;
}



/* CSS del componente Header.jsx */
.Header {
  font-size: 1.2rem;
  color: #5A6B05;
  z-index: 1
}

.Nav {
  position: fixed;
  top: 0;
  right: -18rem;
  width: 18rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  transition: transform 0.4s ease-in-out;
}

.Nav.isActive {
  transform: translateX(-18rem);
}

.Nav-div {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15%;
}

.Nav-div-upper {
  height: 135px;
}

.Nav-ul-user {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Nav-a-user {
  margin-top: 1rem;
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  word-spacing: 0.3rem;
  font-family: 'george', sans-serif;
  border-bottom: 1.5px solid var(--text-primary);
  transition: all 0.4s ease-in-out;
}

.Nav-p-user {
  font-family: 'george', sans-serif;
  text-transform: uppercase;
}

.Nav-a-user:hover {
  color: var(--text-tertiary);
  border-bottom: 1.5px solid var(--text-tertiary);
}

.Header-btn {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.8rem 1.6rem 2rem;
  width: 165px;
  top: 30%;
  right: -70px;
  background-color: var(--backgrundColor-secondary);
  color: white;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 0.2s;
  font-family: 'george', sans-serif;
}

.Header-btn:hover {
  transform: translateX(-10px) rotate(-90deg);
}

.Header-btn-cerrar,
.Header-btn-menu{
  word-spacing: 0.5rem;
}

.Header-btn-cerrar.isHidden,
.Header-btn-menu.isHidden {
  display: none;
}

.Nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Header-a {
  color: var(--text-tertiary);
  font-size: 1.3rem;
  cursor: pointer;
}


/* CSS dela pagina Home.jsx */
.Home-header {
  width: 100%;
  height: 80vh;
  position: relative;
}

.Home-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Estilo del logo */
.Home-header-logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  cursor: pointer;
}

.Section-home {
  margin: auto;
  max-width: 1200px;
  padding: 7rem 3rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Section-home-h1 {
  font-size: 3rem;
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2.5px solid var(--text-primary);
}

.Vertical-line {
  width: 2.5px;
  height: 200px;
  background-color: var(--text-primary);
  margin: 0 auto;
}

.Section-home-p {
  font-size: 1.25rem;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}



/* CSS del componente HomeSectionsHorizontal.jsx */
.Horizontal-div {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.Horizontal-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Horizontal-div-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.Horizontal-div-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.Horizontal-div-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 2rem 0 0;
}

.Horizontal-h2 {
  font-size: 2rem;
  color: var(--text-tertiary);
}

.Horizontal-line {
    width: 50%;
    height: 2.5px;
    align-self: flex-end;
    background-color: var(--text-primary);
    margin: 0.5rem 0;
}

.Horizontal-p {
  font-size: 1rem;
  color: var(--text-tertiary);
  padding-right: 10%;
}

.Horizontal-btn {
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-tertiary);
  background-color: transparent;
  font-family: 'george', sans-serif;
  padding: 0.6rem 0.8rem;
  word-spacing: 0.3rem;
}

/* CSS del componente HomeSectionsVertical.jsx */
.Vertical-div {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 5rem 10rem 5rem;
}

.Vertical-div-container-outter {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
}

.Vertical-div-container-img {
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}

.Vertical-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.Vertical-img-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Vertical-div-grid {
  position: absolute;
  top: -2rem;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.Vertical-div-inner {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.Vertical-div-inner.text {
  background-color: var(--backgrundColor-secondary);
  padding: 15% 5% 15% 5%;
}

.Vertical-h2 {
  font-size: 2rem;
  color: var(--text-tertiary);
}


.Vertical-p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 10%;
  color: var(--text-tertiary)
}

.Vertical-HorizontalLine {
  width: 50%;
  height: 2.5px;
  display: flex;
  align-self: flex-start;
  background-color: var(--text-primary);
  margin: 0.5rem 0;
}

.Vertical-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--text-primary);
  font-family: 'george', sans-serif;
  padding: 0.6rem 0.8rem;
  word-spacing: 0.3rem;
}

.Habitaciones-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.Habitaciones-range-picker .ant-picker {
  border: 2px solid green !important;
  color: green;
}

.Habitaciones-range-picker .ant-picker:hover,
.Habitaciones-range-picker .ant-picker-focused,
.Habitaciones-range-picker .ant-picker:focus-within {
  border-color: darkgreen !important;
}

/* Forzar color verde en el borde al hacer hover, focus, y active */
.Habitaciones-range-picker .ant-picker:hover,
.Habitaciones-range-picker .ant-picker-focused {
  border: 2px solid darkgreen !important;
}

/* Cambiar el color del texto, placeholder e ícono */
.Habitaciones-range-picker .ant-picker-input input {
  color: green !important;
}

.Habitaciones-range-picker .ant-picker-input input::placeholder {
  color: green !important;
}

.Habitaciones-range-picker .ant-picker-suffix svg {
  fill: green !important;
}

/* Remover la barra azul en la selección */
.Habitaciones-range-picker .ant-picker-active-bar {
  background: none !important;
}

.Rooms-div-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.Amenity-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}














.Footer {
  width: 100%;
  background-color: var(--backgrundColor-primary);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Footer-div {
  width: 80%;
  border-top: 2.5px solid var(--text-primary);
  max-width: 1200px;
  margin: 2rem 0;
}

.Footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.Footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-a:first-child {
  text-align: right;
}




/* Medias: A partir de 700px para abajo cambiar margenes (pagina home.jsx) 
ya que se deforman las secciones verticales */