* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

p a {
  display: inline;
}

img,
picture,
video,
iframe {
  display: block;
  width: 100%;
  /* height: initial; */
}

form,
input,
label,
select,
option,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
  display: block;
  background-color: transparent;
}

:root {
  font-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'mirage', serif;
  --backgrundColor-primary: white;
  --backgrundColor-secondary: #414141;
  --backgrundColor-shadow:#6843001a;
  --text-primary: #6d8d16;
  --text-secondary: #505050;
  --text-tertiary: #fff;
}

.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  width: 100%;
  flex: 1 1 0%;
  background-color: var(--backgrundColor-primary);
  padding: 0 0 2rem 0;
}

/* Fin reset */

@font-face {
  font-family: 'mirage';
  src: url('../assets/fonts/mirage/MADEMirage.woff2') format('woff2'),
      url('../assets/fonts/mirage/MADEMirage.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'george';
  src: url('../assets/fonts/george/LouisGeorgeCafe.woff2') format('woff2'),
      url('../assets/fonts/george/LouisGeorgeCafe.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button,
a {
  cursor: pointer;
  text-transform: uppercase;
}

/* CSS del componente Header.jsx */
.Header {
  font-size: 1.2rem;
  color: #5A6B05;
  z-index: 1
}

.Nav {
  position: fixed;
  top: 0;
  right: -18rem;
  width: 18rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  transition: transform 0.4s ease-in-out;
}

.Nav.isActive {
  transform: translateX(-18rem);
}

.Nav-div {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15%;
}

.Nav-div-upper {
  height: 135px;
}

.Nav-ul-user {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Nav-a-user {
  margin-top: 1rem;
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  word-spacing: 0.3rem;
  font-family: 'george', sans-serif;
  border-bottom: 1.5px solid var(--text-primary);
  transition: all 0.4s ease-in-out;
}

.Nav-p-user {
  font-family: 'george', sans-serif;
  text-transform: uppercase;
}

.Nav-a-user:hover {
  color: var(--text-tertiary);
  border-bottom: 1.5px solid var(--text-tertiary);
}

.Header-menu {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  top: 30%;
  right: -165px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  transform: rotate(-90deg);
  font-family: 'george', sans-serif;
}

.Header-btn {
  transition: transform 0.2s;
}

.Header-btn:hover {
  transform: translateY(-10px);
}

.Header-btn-Habitaciones {
  padding: 0.8rem 1.6rem 2rem;
  background-color: var(--text-primary)
}

.Header-btn-cerrar,
.Header-btn-menu {
  word-spacing: 0.5rem;
  background-color: var(--backgrundColor-secondary);
  padding: 0.8rem 1.6rem 2rem;
  min-width: 163px;
}

.Header-btn-cerrar.isHidden,
.Header-btn-menu.isHidden {
  display: none;
}

.Nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Header-a {
  color: var(--text-tertiary);
  font-size: 1.3rem;
  cursor: pointer;
}


/* CSS del componente Introduction.jsx */
.Home-header {
  width: 100%;
  height: 80vh;
  position: relative;
}

.Home-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.Home-header-logo {
  position: absolute;
  height: 10rem;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.6));
}

.Section-home {
  margin: auto;
  max-width: 1200px;
  padding: 7rem 3rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Section-home-h1 {
  font-size: 3rem;
  color: var(--text-primary);
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2.5px solid var(--text-primary);
}

.Vertical-line {
  width: 2.5px;
  height: 150px;
  background-color: var(--text-primary);
  margin: 0 auto;
}

.Section-home-p {
  font-size: 1.25rem;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}

/* CSS del componente HomeSectionsHorizontal.jsx */
.Horizontal-div {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.Horizontal-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Horizontal-div-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.Horizontal-div-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.Horizontal-div-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 2rem 0 0;
}

.Horizontal-h2 {
  font-size: 2rem;
  color: var(--text-tertiary);
}

.Horizontal-line {
    width: 50%;
    height: 2.5px;
    align-self: flex-end;
    background-color: var(--text-primary);
    margin: 0.5rem 0;
}

.Horizontal-p {
  font-size: 1rem;
  color: var(--text-tertiary);
  padding-right: 10%;
}

.Horizontal-btn {
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-tertiary);
  background-color: transparent;
  font-family: 'george', sans-serif;
  padding: 0.6rem 0.8rem;
  word-spacing: 0.3rem;
}

/* CSS del componente HomeSectionsVertical.jsx */
.Vertical-div {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 5rem 10rem 5rem;
}

.Vertical-div-container-outter {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
}

.Vertical-div-container-img {
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}

.Vertical-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.Vertical-img-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Vertical-div-grid {
  position: absolute;
  top: -2rem;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.Vertical-div-inner {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.Vertical-div-inner.text {
  background-color: var(--backgrundColor-secondary);
  padding: 15% 5% 15% 5%;
}

.Vertical-h2 {
  font-size: 2rem;
  color: var(--text-tertiary);
}


.Vertical-p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 10%;
  color: var(--text-tertiary)
}

.Vertical-HorizontalLine {
  width: 50%;
  height: 2.5px;
  display: flex;
  align-self: flex-start;
  background-color: var(--text-primary);
  margin: 0.5rem 0;
}

.Vertical-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--text-primary);
  font-family: 'george', sans-serif;
  padding: 0.6rem 0.8rem;
  word-spacing: 0.3rem;
}




.Register-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1rem;
  max-width: fit-content;
}

.Register-h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.Register-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.Register-div {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}


.Login-form {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.Login-input {
  border-bottom: 1px solid #333;
}

.Login-btn,
.Register-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.Login-btn-disabled {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: not-allowed;
}





.Modal-background {
  position: fixed;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-container {
  width: 80%;
  background-color: white;
  padding: 24px;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.close-button {
  color: #f56565; /* Color rojo (equivalente a text-red-500) */
  font-weight: bold; /* Texto en negrita */
  float: right; /* Botón alineado a la derecha */
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

.close-button:hover {
  color: #e53e3e; /* Rojo más oscuro al pasar el ratón */
}


.Modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.Modal-div {
  display: flex;
  flex-direction: column;
  ;
}

.Modal-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.Modal-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Modal-input:focus {
  border-color: #007BFF;
  outline: none;
}

.Modal-textarea {
  min-height: 10rem;
  resize: vertical; /* Permite ajustar el tamaño vertical del textarea */
}




/* CSS para las tablas de MyBookings.jsx y Admin.jsx */
.Table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Table-h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
}

.Table-title {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2rem 0 1rem 0;
  text-align: center;
}

.Table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.Table {
  width: 100%;
  min-width: 58rem;
  border-collapse: collapse;
  text-align: center;
}

.Table-th,
.Table-td {
  padding: 10px 15px;
  border: 1px solid var(--text-primary);
  text-align: center !important; /* Prioriza el centrado */
  vertical-align: middle; /* Centrado vertical */
}

.Table-th {
  font-weight: 700;
  background-color: var(--text-primary);
  color: var(--text-tertiary);
}

.Table-td {
  background: var(--text-tertiary);
}

.Table-td > *,
.Table-th > * {
  margin: 0 auto;
  text-align: center;
}

.Table-btn {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  color: var(--text-tertiary);
  background-color: var(--backgrundColor-secondary);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.Table-btn:hover {
  background-color: #d3d3d3;
}

/* CSS para botones sobre fondo blanco */
.Marmota-btn {
  margin-top: 1rem;
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  word-spacing: 0.3rem;
  font-family: 'george', sans-serif;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.Marmota-btn:hover {
    color: var(--text-secondary);
}

.Footer {
  width: 100%;
  background-color: var(--backgrundColor-primary);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Footer-div {
  width: 80%;
  border-top: 2.5px solid var(--text-primary);
  max-width: 1200px;
  margin: 2rem 0;
}

.Footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.Footer-logo {
  width: 100%;
  max-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-a:first-child {
  text-align: right;
}

.Amenity-div {
width: 100%;
}

.Amenity-div-inner {
  width: 80%;
  max-width: 1200px;
  background-color: var(--backgrundColor-primary);
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 4rem 3rem;
  gap: 2rem;
}

.Amenity-div-left {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 2.5px solid var(--text-primary);
}

.Amenity-ul {
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

.Amenity-div-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.Galeria-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 8rem 0 2rem 0;
}

.Galeria-div-inner{
  width: 80%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.Galeria-img{
  width: 100%;
  max-height: 12rem;
  object-fit: cover;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease-in-out;
}

.Galeria-img:hover {
  transform: scale(105%);
}

.Popup-Galeria-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.Popup-Galeria-Content {
  position: relative;
  max-width: 80%; /* Máximo 90% del ancho de la ventana */
  max-height: 90%; /* Máximo 90% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden; /* Oculta el desbordamiento */
}

.Popup-Galeria-Img {
  max-width: 100%; /* Imagen no excederá el contenedor */
  max-height: 100%; /* Imagen no excederá el contenedor */
  object-fit: cover; /* La imagen se ajusta completamente dentro del contenedor sin recortes */
  border-radius: 5px; /* Opcional: bordes redondeados */
}

.Popup-Galeria-CloseBtn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

.Popup-Galeria-CloseBtn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.PopUp {
  display: none;
}

.PopUp.active {
  display: block;
}

.Amenity-div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.Amenity-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--text-tertiary);
  font-family: 'george', sans-serif;
  padding: 0.6rem 0.8rem;
  background-color: var(--backgrundColor-secondary);
  word-spacing: 0.3rem;
}


/* Medias: A partir de 700px para abajo cambiar margenes (pagina home.jsx) 
ya que se deforman las secciones verticales */