.Register-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 1rem;
    max-width: fit-content;
}

.Register-h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.Register-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.Register-div {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.Register-label {

}

.Register-input {

}

.Login-form {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
}

.Login-input {
    border-bottom: 1px solid #333;
}

.Login-btn,
.Register-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.Login-btn-disabled {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: not-allowed;
}