/* CSS del componente Rooms.jsx */
.Habitaciones-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    padding: 2rem;
}

.Habitaciones-range-picker .ant-picker {
border: 2px solid var(--text-primary) !important;
color: var(--text-primary);
}

.Habitaciones-range-picker .ant-picker:hover,
.Habitaciones-range-picker .ant-picker-focused,
.Habitaciones-range-picker .ant-picker:focus-within {
border-color: var(--text-primary) !important;
}

/* Forzar color verde en el borde al hacer hover, focus, y active */
.Habitaciones-range-picker .ant-picker:hover,
.Habitaciones-range-picker .ant-picker-focused {
border: 2px solid var(--text-primary) !important;
}

/* Cambiar el color del texto, placeholder e ícono */
.Habitaciones-range-picker .ant-picker-input input {
color: var(--text-primary) !important;
}

.Habitaciones-range-picker .ant-picker-input input::placeholder {
color: var(--text-primary) !important;
}

.Habitaciones-range-picker .ant-picker-suffix svg {
fill: var(--text-primary) !important;
}

/* Remover la barra azul en la selección */
.Habitaciones-range-picker .ant-picker-active-bar {
background: none !important;
}

.Rooms-div-btn {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
}


