.Section {
    max-width: 1400px;
    display:flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem auto;
    align-items: center;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 5px;
}

.Section:nth-child(odd) {
    flex-direction: row-reverse;
}

.Section-div {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Section-h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.Section-h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.Section-p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.Section-img {
    width: 30%;
    height: auto;
    border-radius: 5px;
}
